<ion-header>
  <ion-toolbar>
    <ion-title>Pagina Inicial</ion-title>
  </ion-toolbar>
</ion-header>




<ion-content>
  
  <ion-card>
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
  </ion-card>

  <div>
    <ion-list style="text-align:center">

      

    
  <ion-button (click)="home()">
  <ion-icon name="call-outline"></ion-icon>
  </ion-button>

  <ion-button (click)="home()">
    <ion-icon name="car"></ion-icon>
    </ion-button>


    <ion-button (click)="home()">
      <ion-icon name="reader"></ion-icon>
      </ion-button>
    </ion-list>
</div>

<ion-searchbar placeholder="Digite aqui"></ion-searchbar>

<div class="card3">

<ion-button expand="block">Ultimo Estacionamento</ion-button>
<ion-button expand="block">Ultimos Pagamentos</ion-button>
<ion-button expand="block">Estacionamentos Salvos</ion-button>
</div>

<h4>
  Estacionamentos perto de você
</h4>
<ion-card>
  <img src="/assets/maps.PNG" />
</ion-card>



</ion-content>




<div class="foooter">
<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button (click)="home()">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
      <ion-button (click)="atividade()">
        <ion-icon slot="icon-only" name="reader"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="perfil()">
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Menu</ion-title>
  </ion-toolbar>
</ion-footer>
</div>