
ion-item{
    font-size: 15px;
}

ion-button{

    width: 180px;
    
}

ion-card-title{
    text-align: center;
}

.geral{
    font-size: 20px;
    ion-icon{

        margin-top: 20px;
    }
}

.top{
    ion-icon{
        padding: 10px;
        background-color: rgb(44, 44, 44);
        border-radius: 5px;
        margin-top: 20px;
        margin-left: 90px;
        font-size: 20px;
        color: white;
    }
}