
<ion-header>
  <ion-toolbar>
    <ion-title>Pagina Inicial</ion-title>
  </ion-toolbar>
</ion-header>




<ion-content>
  
  <ion-card>
    <img src="/assets/_UX_desing_fo_a_car_parking_f3f1b494-c752-497d-8f99-d50e456edea1.png">
  </ion-card>

  <ion-card-title>Bem Vindo a LSN PARKING</ion-card-title>
  <ion-card-subtitle>Por favor faça login ou registre-se</ion-card-subtitle>


  <ion-button (click)="home()">Login</ion-button>

  <ion-button (click)="home()">Regristar</ion-button>


</ion-content>

