
h1{
    
    font-family: 'Open Sans', sans-serif;
    margin-left: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    color: rgb(0, 0, 0);
    padding: 20px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    width: 93%;
}

ion-card{
    margin-top: 20px;
}