ion-content {
	--padding-top: 10%;
	--padding-start: 10%;
	--padding-end: 10%;
	ion-button{
		margin-top: 20px;
	}
}

.input-group {
	background: #fff;
	border-radius: 10px;
	overflow: hidden;
	margin-bottom: 15px;
}

.errors {
	font-size: small;
	color: #fff;
	background: var(--ion-color-danger);
	padding-left: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
}
img{
	border-radius: 10px;
}
h1{
	font-weight: bold;
	text-align: center;
}



