ion-icon{
    margin-top: 20px;
    
}

ion-card{
    text-align: center;
    margin-top: 20px;
    
}

ion-item{
    font-size: 20px;
}

ion-button{
    width: 250px;
}

ion-footer{
    ion-button{
       
    }
}