<ion-header>
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-avatar slot="start">
      <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
    <ion-label>
      Natan dos Santos Coelho
    </ion-label>
  </ion-item>
  
  <ion-card>
    <ion-icon name="card"></ion-icon>
    <ion-card-header>
      <ion-card-title>LSN PARKING PASS</ion-card-title>
    </ion-card-header>
    <ion-button>Assine Já</ion-button>
  
    
  </ion-card>

  <ion-card>
    <ion-icon name="call"></ion-icon>
    <ion-card-header>
      <ion-card-title>Central de Atendimento</ion-card-title>
      <ion-button>Assine Já</ion-button>
    </ion-card-header>
  
    
  </ion-card>

  <ion-card>
    <ion-icon name="cash"></ion-icon>
    <ion-card-header>
      <ion-card-title>Metodos de Pagamento</ion-card-title>
      <ion-button>Assine Já</ion-button>
    </ion-card-header>
  </ion-card>


  <ion-card>
    <ion-card-header>
      <ion-card-title>Geral</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="start">
            <ion-icon name="settings"></ion-icon>
          </ion-thumbnail>
          <ion-label>Configurações</ion-label>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <ion-icon name="chatbubbles"></ion-icon>
          </ion-thumbnail>
          <ion-label>Mensagens</ion-label>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <ion-icon name="alert"></ion-icon>

          </ion-thumbnail>
          <ion-label>Notificações</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <ion-icon name="briefcase"></ion-icon>

          </ion-thumbnail>
          
          <ion-label>Venha se afiliar</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
