<ion-header>
  <ion-toolbar>
    <ion-title>LSN Pass</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Ubuntu:wght@300;400;500&display=swap" rel="stylesheet">
  
  <h1>
    Cartões LSN PASS
  </h1>
  <ion-card>
    <img alt="Silhouette of mountains" src="/assets/visa.png" />
    <ion-card-header>
      <ion-card-title>Cartão LSN PASS Visa Gold</ion-card-title>
      <ion-card-subtitle>Final 0011</ion-card-subtitle>
    </ion-card-header>
  
    
  </ion-card>
  <ion-card>
    <img alt="Silhouette of mountains" src="/assets/mastercard.png" />
    <ion-card-header>
      <ion-card-title>Cartão LSN PASS MasterCard</ion-card-title>
      <ion-card-subtitle>Final 0012</ion-card-subtitle>
    </ion-card-header>
  
    
  </ion-card>

</ion-content>
