ion-content{

    --background: url(/assets/maps3.png) 0 0/100% 100% no-repeat;
        
    }
    
    ion-searchbar{
        margin-top: 410px;
    }
    
      ion-title{
        font-size: 12px;
      }